@model IEnumerable<finalProject.Models.ProHomepage>

@{
    ViewData["Title"] = "Index";
      Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>


/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}






</style>

<p>
        <a asp-action="Create"><button style="background-color:#323232 ; color:whitesmoke;"  class="button-32" role="button"> create new </button></a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model)
            </th>
        *@

         <th>
                @Html.DisplayNameFor(model => model.Image)
                  

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img style="height:180px; width:300px;" src="@Url.Content("~/Image/" + item.Image)"  alt="...">
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Image1)
            </td>*@
            <td>
            
            <td>
                <a style="color:black ; text-decoration:none" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color:black ; text-decoration:none"  asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a style="color:black ; text-decoration:none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>